<div class="" cdkDrag>
  <div
    class="text-white text-sm bg-black right-0 left-0 bottom-0 mb-0 border-white border h-8 flex flex-row items-center justify-between cursor-move pl-2"
    cdkDragHandle
  >
    {{ title | translate }}
    <div class="flex flex-row">
      <div class="minimise px-2 active:border-2">_</div>
      <div class="maximise px-2 active:border-2">||</div>
      <div class="close px-2 active:border-2" (click)="closeWidget()">X</div>
    </div>
  </div>
  <div class="bg-black text-white text-sm border-white border p-1">
    <ul class="flex flex-row">
      <li class="px-1 active:border-2 hover:border">File</li>
      <li class="px-1 active:border-2 hover:border">Edit</li>
      <li class="px-1 active:border-2 hover:border">View</li>
    </ul>
  </div>
  <div class="scrollbar bg-white text-white border border-white overflow-scroll max-h-64">
    <ng-content></ng-content>
  </div>
</div>
