<div class="footer text-white text-sm text-center bg-black right-0 left-0 bottom-0 mb-0 p-1">
  <div class="content flex flex-col flex-wrap justify-center items-center w-full">
    <ul class="ml-2 flex flex-row flex-nowrap justify-center list-none mb-2">
      <li class="mr-2">
        <a href="http://www.github.com/miacoupland"
          ><i class="fa fa-github mr-0.5" style="font-size: 24px"></i>Github</a
        >
      </li>
      <li class="mr-2">
        <a href="http://www.linkedin.com/in/mia-coupland"
          ><i class="fa fa-linkedin mr-0.5" style="font-size: 24px"></i>LinkedIn</a
        >
      </li>
    </ul>
    <p class="mx-2">{{ "footer.description" | translate }}</p>
    <br />
    <p class="mx-2">{{ "footer.last-modified" | translate }}</p>
  </div>
</div>
