<div id="footer">
  <ul>
    <li>
      <i class="fab fa-github" style="font-size: 24px"></i
      ><a href="http://www.github.com/miacoupland"> Github</a>
    </li>
    <li>
      <i class="fab fa-linkedin" style="font-size: 24px"></i
      ><a href="http://www.linkedin.com/in/mia-coupland"> LinkedIn</a>
    </li>
  </ul>
  <p class="en-UK">
    The colour of the clouds and sky in the header change depending on the time
    of day that you view my website.
  </p>
  <p class="eo">
    La koloro de la nuboj kaj la ĉielo en la kaplinio ŝanĝiĝas depende de la
    tempo de la tago ke vi vidas mian retejon.
  </p>
  <br />
  <p class="en-UK">Last modified: 2020-12-28 Mia Coupland</p>
  <p class="eo">Laste modifita: 2020-12-28 Mia Coupland</p>
</div>
