#footer {
    font-size: 12px;
    text-align: center;
    position: fixed;
    background-color: #222222;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin-bottom: 0;
    padding: 1%;

    content {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    p, ul {
        margin-left: 10px;
    }

    ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        list-style-type: none;
        margin-bottom: 20px;

        li {
            float: left;
            margin-right: 10px;
        }
    }
}