* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #FFF;
    text-decoration: none;
}

html,
body {
    height: 100%;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAMAAAAxmgQeAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAD5JREFUGNN1j9EKADAIAnP//9GjFq6w7iU4DNRsB06cb44TJ+UzYUcniqnqoA6ag/62JhjKIU0rxx1lKveuXJ5UAQs/G/2vAAAAAElFTkSuQmCC), auto;
}

body {
    font-size: 14pt;
    font-family: 'Roboto Mono';
    color: #FFF;
    background-color: #000;
    z-index: -4;
}

p,
h1,
h2,
h3,
ul,
li,
form,
blockquote,
time {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

h1,
h2,
h3,
ul {
    text-transform: uppercase;
}

p {
    font-size: 14px;
}

p a {
    color: #FFBBDD;
}

#navbar {
    background-color: transparent;
    height: 8%;
    background-position: center top;
}

.eo {
    display: none;
}

h1 a {
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right, #f1e88e 10%, #FFBBDD 50%, rgb(228, 114, 114) 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
    margin-left: 2%;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.navlink,
.langnav,
select,
ul {
    list-style-type: none;
    padding: 2%;
    margin: 0;
    bottom: 0;
    right: 0;
    font-weight: bold;
}

#langSelector {
    min-width: 100%;
    color: #FFF;
    background-color: #000;
    border: solid 2px;
    max-height: 10%;
}

#langSelector:hover {
    color: #FFBBDD;
    border-color: #FFF;
}

.navlink:hover a,
.langSelector:hover a,
#mywork a {
    color: #FFBBDD;
}

#nav {
    overflow: hidden;
    position: absolute;
    display: none;
    right: 2%;
    top: 5%;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
    max-width: 600px;
    text-align: right;
}

.icon {
    font-size: 30px;
    visibility: visible;
    position: relative;
    left: 94%;
    top: 1%;
}

#about,
#mywork,
#contact,
#blog {
    margin-top: 5%;
    padding: 3%;
    background-color: #000;
}

#about {
    margin-top: 30%;
}

#intro {
    width: 100%;
    height: 100%;
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align:justify;
    margin-right: 10%;
    margin-left: 10%;
}

#projects img {
    max-height: 300px;
}

#mywork figure {
    min-width: 30%;
    max-width: 48%;
    margin-bottom: 5%;
}

#mywork figure img {
    min-width: 60%;
    max-width: 100%;
}

figcaption {
    font-size: 14px;
}

#blog {
    margin-bottom: 1%;
}

form {
    margin-top: 2%;
    width: 80%;
}

#send {
    padding: 5px;
}

label,
input {
    display: inline-block;
}

label {
    width: 30%;
}

input[type=text],
#country,
textarea {
    width: 90%;
    height: 5%;
    padding: 1%;
    border: 1px solid #FFBBDD;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2%;
    margin-bottom: 2%;
    resize: vertical;
    color: #FFF;
    background-color: #000;
}

input[type=submit] {
    background-color: #000;
    color: #FFF;
    font-size: 16px;
    border: solid 2px #FFF;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #FFBBDD;
}

article {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    border: solid 2px white;
    padding: 2%;
}

#pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pagination a {
    text-align: center;
    padding: 2%;
}

#footer {
    font-size: 12px;
    text-align: center;
    position: relative;
    background-color: #222222;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin-top: 5%;
    padding: 1%;
}

#footer ul {
    text-align: left;
}


/* The below is how to make the background twinkling effect and clouds.
    Made with tutorial by script-tutorials.com */

@keyframes move-twinkle-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twinkle-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twinkle-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twinkle-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 0;
    }
}

@-webkit-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 0;
    }
}

@-moz-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 0;
    }
}

@-ms-keyframes move-clouds-back {
    from {
        background-position: 0;
    }
    to {
        background-position: -10000px 0;
    }
}

@media screen and (max-width: 700px) {
    #about {
        margin-top: 100%;
    }
    #nav {
        overflow: hidden;
        position: absolute;
        right: 2%;
        top: 8%;
        display: none;
        padding-left: 0;
        margin: 0;
        max-width: 600px;
    }
    .navlink,
    #langSelector {
        text-align: right;
        font-size: 20px;
    }
    h1 {
        font-size: 50px;
    }
    #langSelector {
        font-size: 12px;
        margin-left: 0%;
    }
    .icon {
        visibility: visible;
        position: relative;
        left: 94%;
        top: 1%;
    }
    #projects {
        flex-wrap: wrap;
    }
    #mywork figure {
        min-width: 90%;
        margin-top: 5%;
    }
    #mywork figure img {
        min-width: 90%;
        max-width: 100%;
    }
}

@media screen and (min-width: 701px) {
    #nav {
        display: block;
    }
}