
* {
    margin: 0;
    padding: 0;
}

about {
    display: none;
    overflow: hidden;
    background-color: rgba(33,33,33,0.9);
    top: 0;
}
clouds:hover + div {
    display: block;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}