<div class="m-2 bg-slate-800 rounded-md p-2 overflow-scroll text-white">
  <div id="blog">
    <article class="mt-20 mb-20 ml-16 mr-16 border-2 border-white p-8">
      <h3>{{ "blog.title" | translate }}</h3>
      <div class="postmeta">
        <time datetime="">December 29th 2020</time>
      </div>
      <p>"{{ "blog.lorem-ipsum" | translate }}"</p>
      <br />
      <blockquote>Quotable quote</blockquote>
      <br />
    </article>
  </div>
  <div class="flex-row text-center">
    <a href="#" class="text-center p-8">&laquo;</a>
    <a href="#" class="text-center p-8">&raquo;</a>
  </div>
</div>
