<figure class="text-white flex flex-col justify-center pt-32">
  <img
    src="{{ imageSrc }}"
    alt="{{ 'projects.' + key + '.alt-text' | translate }}"
    class=""
  />
  <figcaption class="py-4 text-sm">
    <span class="text-lg underline">{{ name }}</span><br /><br />
    {{ "projects." + key + ".description" | translate }}
    <br />{{ "projects.find-it" | translate }}
    <a href="{{ githubLink }}" target="_blank">
      {{ "common.here" | translate }}</a
    >
    {{ "projects.on-Github" | translate }}
  </figcaption>
</figure>
