.title-text a {
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #f1e88e), color-stop(50%, #FFBBDD), color-stop(60%, #e47272));
  background: linear-gradient(to right, #e20909 10%, #d5d2d2 50%, #dc2020 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkkit-text-fill-color: transparent;
  -webkit-animation: textclip 1.5s linear infinite;
  animation: textclip 1.5s linear infinite;
}

.background1 {
  background-image: url("https://images.rawpixel.com/image_1000/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3BkMjUwLXBkZ2Vra28wMDA1MS1pbWFnZV81LmpwZw.jpg");
}
