<div
  class="background1 flex flex-col items-center min-h-screen bg-fixed bg-center bg-cover text-center"
>
  <!-- <app-nav></app-nav> -->
  <div class="pt-64 max-w-screen-2xl">
    @if (projects) {
    <widget
      [title]="'Projects'"
      class="top-72 right-24"
      (closeChange)="showProjects($event)"
    >
      <app-projects></app-projects>
    </widget>
    } @if (contact) {
    <widget
      [title]="'Contact'"
      class="bottom-32 left-7"
      (closeChange)="showContact($event)"
    >
      <app-contact></app-contact>
    </widget>
    } @if (bio) {
    <widget
      [title]="'About'"
      class="w-3/5 top-36 left-44"
      (closeChange)="showBio($event)"
    >
      <app-bio></app-bio>
    </widget>
    }
    <router-outlet></router-outlet>
  </div>

  <app-footer
    class="absolute w-full bottom-0 left-0"
    (projectsChange)="showProjects($event)"
    (bioChange)="showBio($event)"
    (contactChange)="showContact($event)"
  ></app-footer>
</div>
