<div class="bio-container bg-neutral-950 text-white flex flex-col justify-center px-9 py-14">
  <p>
    {{ "bio.work-experience" | translate }}
    <a href="http://www.linkedin.com/in/mia-coupland" target="_blank">{{
      "common.here" | translate
    }}</a>
    {{ "bio.view-linkedin" | translate }}
  </p>
  <p class="mt-3">
    {{ "bio.personalStatement.1" | translate }}
  </p>
  <p class="mt-3">
    {{ "bio.personalStatement.2" | translate }}
  </p>
  <p class="mt-3">
    {{ "bio.personalStatement.3" | translate }}
  </p>
  <p class="mt-3">
    {{ "bio.personalStatement.4" | translate }}
  </p>
</div>
