<div class="projects-container flex flex-col mx-0 p-8 scroll-smooth">
  <div class="text-center">
    <p>
      {{ "projects.please-click" | translate }}
      <a href="https://www.github.com/miacoupland" target="_blank">
        {{ "common.here" | translate }}</a
      >
      {{ "projects.more" | translate }}
    </p>
  </div>

  <div class="grid grid-cols-1 text-center justify-items-center">
    <ng-container *ngFor="let config of tileData | async">
      <button (click)="showProject(config)">{{ config.name }}</button>
    </ng-container>
    <app-project-tile *ngIf="project" [tileData]="project"></app-project-tile>
  </div>
</div>
