<div class="container">
  <div id="mywork">
    <h2>{{ "bio.about" | translate }}</h2>
    <p>
      {{ "projects.please-click" | translate }}
      <a href="https://www.github.com/miacoupland" target="_blank">{{ "bio.here" | translate}}</a
      >{{ "projects.more" | translate }}
    </p>
  </div>

  <div id="projects">
    <figure>
      <img
        src="https://i.imgur.com/jVUsMZl.png"
        alt="Screenshot of PDF Reader programme"
      />
      <figcaption>
        {{ "projects.PDF-program" | translate }}
        <br />{{ "projects.find-it" | translate }}<a
          href="https://github.com/miacoupland/PDF-Reader"
          target="_blank"
        >
          {{ "bio.here" | translate }} </a
        >{{ "projects.on-Github" | translate }}
      </figcaption>
    </figure>
    <figure>
      <img
        src="https://i.imgur.com/G7HHoVm.png"
        alt="Screenshot of Esperanto Dictionary programme"
      />
      <figcaption class="en-UK">
        Esperanto Dictionary.<br />This is a simple Java dictionary programme
        created to quickly lookup words in either Esperanto or English and find
        its translation. It works from a .txt file so more words can be added
        and changed at any time. <br />Find it<a
          href="https://github.com/miacoupland/Esperanta-Vortaro"
          target="_blank"
        >
          here </a
        >on Github.
      </figcaption>
      <figcaption class="eo">
        Esperanta vortaro.<br />Ĉi tiu estas simpla programo per Java kiun
        kreiĝis por facile trovi vortojn en Esperanto aŭ la Angla kaj trovi la
        tradukon. La programo uzas .txt dosieron, do pli da vortojn povas
        aldonas kaj ŝanĝiĝas. <br />Trovi ĝin<a
          href="https://github.com/miacoupland/Esperanta-Vortaro"
          target="_blank"
        >
          ĉi tie
        </a>
        ĉe Github.
      </figcaption>
    </figure>
    <figure>
      <img
        src="https://i.imgur.com/IHz4vg3.png"
        alt="Screenshot of opening of Pokemon Red Python command line programme"
      />
      <figcaption class="en-UK">
        Pokémon Red.<br />This command-line programme was created with Python as
        part of the Code First Girls Intensive Introduction to Python course.
        The project recreates Pokémon Red as a fully interactive text based
        game. <br />Find it<a
          href="https://github.com/miacoupland/PokemonRed"
          target="_blank"
        >
          here </a
        >on Github.
      </figcaption>
      <figcaption class="eo">
        Pokémon Ruĝa.<br />Ĉi tiu komandlinio programo kreiĝis per Python en la
        Code First Girls Intensive Introduction to Python kurso. La projekto
        rekreas Pokémon ruĝan kiel tute interaga teksta ludo. <br />Trovi ĝin<a
          href="https://github.com/miacoupland/PokemonRed"
          target="_blank"
        >
          ĉi tie </a
        >ĉe Github.
      </figcaption>
    </figure>
    <figure>
      <img
        src="https://i.imgur.com/qGV04jr.png"
        alt="Screenshot of the Pokémon Database ER Diagram"
      />
      <figcaption class="en-UK">
        Pokémon Database.<br />This MySQL database was created as part of the
        Code First Girls Introduction to SQL. The project keeps track of each
        Pokémon's stats, abilities, evolutions, et cetera, all in a normalised
        form. It can be used to form Pokémon teams. <br />Find it<a
          href="https://github.com/miacoupland/Pokemon-Database"
          target="_blank"
        >
          here </a
        >on Github.
      </figcaption>
      <figcaption class="eo">
        Pokémon datumbazo.<br />Ĉi tiun datumbazo kreiĝis per MySQL dum la Code
        First Girls Introduction to SQL kurso. La projekto spuras la
        statistikojn, kapablojn, evoluojn, ktp, de ĉiun Pokémon, en normala
        formo. Oni povas uzi ĝin por formi Pokémon teamojn. <br />Trovi ĝin<a
          href="https://github.com/miacoupland/Pokemon-Database"
          target="_blank"
        >
          ĉi tie </a
        >ĉe Github.
      </figcaption>
    </figure>
  </div>
</div>
