<div class="flex flex-row justify-items-center text-slate-900">
  <div
    class="projects-container flex flex-col max-w-4xl scroll-smooth mx-12 w-1/3 h-fit p-4"
  >
    <div class="text-center">
      <p>
        {{ "projects.please-click" | translate }}
        <a href="https://www.github.com/miacoupland" target="_blank">
          {{ "common.here" | translate }}</a
        >
        {{ "projects.more" | translate }}
      </p>
    </div>
    @for (tile of tileData(); track $index) {
    <div class="h-14 text-left">
      <button
        (click)="showProject(tile)"
        class="border border-b-4 border-r-4 max-w-fit p-1 m-2 hover:border"
      >
        {{ tile.name }}
      </button>
    </div>
    }
  </div>

  <app-project-tile
    class="text-center justify-items-center w-2/3 mx-5"
    [tileData]="project"
  ></app-project-tile>
</div>
