@tailwind base
@tailwind components
@tailwind utilities

@import "../node_modules/font-awesome/css/font-awesome.css"
@import 'https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&family=Roboto+Mono&display=swap'

@font-face
  font-family: "Apple II"
  src: url("./assets/fonts/PrintChar21.ttf")

@layer base
  body
    font-family: "Apple II"

  p, figcaption, li a
    font-family: "Lucida Grade"

body, html
  height: 100%

::-webkit-scrollbar
  display: none
