* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #fff;
    text-decoration: none;
  }
  
  #loading-animation {
    position: fixed;
    float: left;
    top: 50%;
    left: 50%;
    height: 120px;
    width: 160px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate(-10%);
    transform: translate(-10%);
  }
  
  .ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  
  .ring ::before ::after {
    content: '';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 4px solid;
    border-radius: 50%;
    -webkit-animation: lds-ring 1.5s cubic-bezier(0.5, 0.5, 1) infinite;
            animation: lds-ring 1.5s cubic-bezier(0.5, 0.5, 1) infinite;
    border-color: #0074bd transparent transparent;
    -webkit-animation-delay: -0.45s;
            animation-delay: -0.45s;
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  
  @-webkit-keyframes lds-ring {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes lds-ring {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }