#navbar {
  background-color: transparent;
  height: 8%;
  background-position: center top;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#nav {
  position: absolute;
  font-size: 1.5rem;
  list-style-type: none;
  font-weight: bold;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 99%;
  margin-left: 1%;
}

li {
  display: block;
  float: left;
  word-wrap:normal;
}

#langSelector {
  color: #FFF;
  background-color: #000;
  border: solid 2px;
  height: 40px;
  margin-top: 5px;
}

#langSelector:hover {
  color: #FFBBDD;
  border-color: #FFF;
}

.navlink:hover a,
.langSelector:hover a,
#mywork a {
  color: #FFBBDD;
  text-decoration: none;
}

.navlink a {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  #nav {
    text-align: right;
    align-items: flex-end;
  }
  .navlink,
  #langSelector {
    text-align: right;
    font-size: 15px;
  }
  #langSelector {
    font-size: 12px;
    margin-left: 0%;
  }
}
