<div id="navbar">
  <ul id="nav">
    <li class="navlink">
      <a routerLink="About">{{ "bio.about" | translate }}</a>
    </li>
    <li class="navlink">
      <a routerLink="Projects">{{ "bio.my work" | translate }}</a>
    </li>
    <li class="navlink">
      <a routerLink="Contact">{{ "bio.contact" | translate }}</a>
    </li>
    <li class="navlink">
      <a routerLink="Blog"> {{ "bio.blog" | translate }}</a>
    </li>
    <select
      #langSelect
      id="langSelector"
      (change)="translate.use(langSelect.value)"
    >
      <option
        *ngFor="let lang of translate.getLangs()"
        [value]="lang"
        [selected]="lang === translate.currentLang"
      >
        {{ lang }}
      </option>
    </select>
  </ul>
</div>
